@keyframes menufadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes menufadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes table_hide{
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}

@-webkit-keyframes table_hide{
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}